.sky{
    height: 100vh;
    width: 100%;
    background-image: url(jjjj.png);
    background-size:100% 100%;
    position: relative;
    overflow: hidden;
}
.highway{
    height: 300px;
    width: 500%;
    background-image: url(rrrr.webp);
    background-size:100% 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%; 
    z-index:1;
    background-repeat: repeat-x;
    animation: highway 7s infinite linear;

}
@keyframes highway
{
    100%{
        transform: translateX(-3400px);
    }
}
.city{
    height: 300px;
    width: 500%;
    background-image: url(city.png);
    position: absolute;
    bottom: 200px;
    z-index: 1; display: block;
    background-repeat: repeat-x;
    animation: city 20s infinite linear;


}
@keyframes  city
{
    100%{
        transform: translateX(-1400px);
    }
}
.car{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;

}
.car img{
    width: 100%;
    animation: car 1s linear infinite;
}

@keyframes car
{
    200%{
        transform: translateY(-1px);
    } 
     100%{
        transform: translateY(1px);
    } 
     50%{
        transform: translateY(-1px);
    }
}
.tyre{
    left: 49.30%;
    bottom: 172px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;

} 
.tyre img{
    /* padding-top:-40px; */
    height: 72px;
    width: 72px;
    animation: tyre 2s linear infinite;
}
.back-wheel{
      left: -162px;
      position: absolute;
      /* margin-left: 200px; */
      /* padding-left: 600px; */
      /* color:pink; */
}
.front-wheel{
    left: 80px;
    position: absolute;
}
@keyframes tyre
{
    100%{
        transform: rotate(3600deg);
    }
}